.pdf-container {
    position: absolute;
    left: 33%;
}

.react-pdf__Page__canvas {
    top: 0;
    left: 0;
    width: 100vw;   
    transform: "";
 }
 
 .react-pdf__Page__textContent {
     top: 0;
     left: 0;
     width: 100vw;
     transform: "";
 }

/*
.react-pdf__Page__canvas {
   position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}

.react-pdf__Page__textContent {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}
*/