:root {
  --dark: rgba(30, 30, 30, 0.7);
  --dark-select: rgba(50, 50, 50, 0.7);
  --light: rgba(255, 255, 255, 0.9);
  --light-select: rgba(230, 230, 230, 0.9);
  --glass: rgba(255, 255, 255, 0.5);
  --glass-select: rgba(230, 230, 230, 0.5);
  --bgGradient: linear-gradient(-43deg, #ffffff, #d0dff0);
  --bgShadow: #a9b5c4;
  --nav-height: 3rem;
}

html,
body, #__next {
  min-height: 100%;
  color: var(--dark);
  background: var(--bgGradient);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1rem 0;
  padding: 0;
}

a:hover{
  color: white;
}

input {
  border-width: 0 0 1px;
  background-color: transparent;
  color: inherit;
}

/* MAIN BODY */
main {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
}

.main-content {
  margin: 7rem;
}

.home-container-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  height: calc(100vh - var(--nav-height));
  padding: 2rem;
  margin-top: var(--nav-height);
  z-index: 0;
}

.container-inner {
  color: var(--light);
  border-radius: .2rem;
  align-self: center;
  height: 80vh;
  width: calc(80vh / 1.62);
  margin: 2rem;
  position: relative;
  transition: .2s;
  box-shadow: 1rem 1rem 2.2rem var(--bgShadow);

  text-align: center;
  overflow: hidden;
}

.container-inner:hover {
  transform: scale(1.05);
}

@media (max-aspect-ratio: 1/1) {
  .container-flex {
    flex-direction: column;
  }
  .container-inner{
    height: 35vh;
    width: calc(35vh * 1.62);
    max-width: 90vw;
  }
}

.centered {
  font-size: 2.5rem;
  text-shadow: 0 0 .3rem var(--dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}