:root {
  --side-bar-width: 15rem;
  --card-width: 15rem;
  --card-height: calc(var(--card-width) * 1.5);
}

/* W3 for more - especially layering, and think about scalability for mobile: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.side-menu-container {
  width: var(--side-bar-width);
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  padding: 1rem;
  background-color: var(--glass);
  color: var(--dark);
}

.side-menu-container input, button, label, textarea, select {
  margin: 1rem 1rem 1rem 1rem;
}

.side-menu-elem-wide {
  width: calc(var(--side-bar-width) - 2rem);
}

.card-space {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  margin-left: var(--side-bar-width);

  display: grid;
  padding: 2rem;
  grid-gap: 2rem;
  grid-auto-rows: var(--card-height);
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1rem));
}


.file-card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--light);
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  box-shadow: .6rem .6rem 1.2em var(--bgShadow);
  transition: .2s;
}

.file-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  
}

.inner-card-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.desc {
    text-align: left;
}

.author {
    text-align: center;
    padding-block: 1rem;
}

.title {
    text-align: center;
}

.org {
    text-align: center;
}

.search-space {
  margin-bottom: 4rem;
  padding-inline: "1rem";
}

.upload-space {
  margin-block: 4rem;
}