:root {
  --dark: rgba(30, 30, 30, 0.9);
  --light: rgba(255, 255, 255, 0.9)
}

/* HEADER AND NAVBAR */
.navbar {
  height: 5vh;
  width: 100%;
  position: relative;
  z-index: 1;

  background-color: rgba(255,255,255,0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: black;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.navbar button,
a {
  height: 5vh;
}

.submit-button,
.sign-in-form input,
hr {
  background: transparent;
  margin: 5%;
  width: 90%;
}

.nav-container-left,
.nav-container-right {
  display: flex;
  flex-flow: row nowrap;
  width: 20vw;
  z-index: 1;
}

.nav-container-left {
  justify-content: flex-start;
}

.nav-container-right {
  justify-content: flex-end;
}

.nav-left,
.nav-rigt {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 15vw;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  border: none;
  background: none;
}

.dropdown-content {
  color: var(--light);
  background-color: var(--dark);
  min-width: 15vw;
  z-index: 1;
  display: none;
  position: absolute;
  top: 5vh;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-button:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--dark) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: var(--light) !important;
}
