/* USES VARIABLES FROM global.css !! */

/* HEADER AND NAVBAR */
.navbar {
  height: var(--nav-height);
  width: 100%;
  position: fixed;
  z-index: 1;

  background-color: rgba(255,255,255,0.7);
  border-bottom: 1px solid white;
  color: var(--dark);
  top: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.navbar a {
  cursor: pointer;
  padding: calc(var(--nav-height)/2);
  height: 100%;
  vertical-align: middle;
}

.navbar a:hover {
  background-color: var(--light-select);
}

.sign-in-form input {
  color: var(--dark);
  margin: 2rem 1rem 0rem 1rem;
  background: transparent;
}

hr {
  margin: 0 1rem 0 1rem;
  border-top: 1px solid var(--dark);
}

.nav-container-left,
.nav-container-right {
  display: flex;
  flex-flow: row nowrap;
  width: 20vw;
  z-index: 1;
}

.nav-container-left {
  justify-content: flex-start;
}

.nav-container-right {
  justify-content: flex-end;
}

.nav-left,
.nav-right {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 20vw;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  padding: 1rem;
  height: 2rem;
  vertical-align: middle;
}

.dropdown-content a:hover {
  background-color: var(--light-select);
}

.dropdown-content {
  color: var(--dark);
  background-color: var(--light);
  width: 15vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
  position: fixed;
  display: block;
  top: var(--nav-height);
}

.dropdown-content a {
  padding: 1rem 1rem 2rem 1rem;
  align-items: center;
  display: block;
}

.dropdown-content p {
  padding: 0rem 1rem 0rem 1rem;
}

.navbar a:hover {
  color: var(--dark);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--light) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: var(--dark) !important;
}
