:root {
    --wide-side-bar-width: 30rem;
}
  
.wide-side-menu-container {
    width: var(--wide-side-bar-width);
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    padding: 2rem;
    background-color: var(--glass);
    color: var(--dark);
}

.wide-side-menu-container * {
    margin: 0 0 1rem 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    resize: none;
}

.wide-side-menu-container h4 {
    font-size: 2rem;
}
  
.wide-side-menu-container select {
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

.view-space-wide-menu {
    margin-top: var(--nav-height);
    margin-left: var(--wide-side-bar-width);
    padding: 2rem;
    text-align: center;
}

.view-space-menu {
    margin-top: var(--nav-height);
    margin-left: var(--side-bar-width);
    padding: 2rem;
    text-align: center;
}

.view-space {
    margin-top: var(--nav-height);
    padding: 2rem;
    text-align: center;
}

.view-container {
    display: inline-block;
    text-align: left;
    font-size: 2rem;
    max-width: 80%;
}

.view-container label {
    padding-right: 1rem;
    margin: 0;
}

.view-container a {
    color: blue;
    padding: 0;
    margin: 0;
}

.view-container div {
    padding: 1rem;
}

.view-header p {
    padding: 0;
    margin: 0;
    display: inline;
}

.view-container select {
    padding: 1px;
    margin: 5px 0px 0px 0px;
    display: inline;
}

.view-header {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 0.4rem;
}

.view-container button {
    border: 1;
    border-radius: 3px;
    padding: .4rem;
    color: white;
}

.btn-save-changes {
    background-color: rgb(50,160,50);
}

.btn-save-changes:hover {
    background-color: rgb(50,220,50);
}

.btn-delete {
    background-color: rgb(160,50,50);
}

.btn-delete:hover {
    background-color: rgb(220,50,50);
}

.btn-public {
    background-color: rgb(100,100,100);
    padding: 0;
    margin: 0;
    min-width: 8rem;
}

.btn-public:hover {
    background-color: rgb(130,130,130);
}

.btn-add-org {
    background-color: rgb(50,50,160);
}

.btn-add-org:hover {
    background-color: rgb(50,50,220);
}